.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  
}

img.tem_image {
  margin-top: 10px;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.column {
  background-color: rgba(0, 0, 0, 0.1); /* Slightly darker background */
  border-radius: 10px; /* Adjust the radius as needed */
  flex: 1; /* Equal width for each column */
  margin: 10px 3px; /* Add 10px margin on both sides */
}

.column:first-child {
  margin-left: 10px;
}

.column:last-child {
  margin-right: 10px;
}

.column.x4 {
  background-color: rgba(0, 255, 0, 0.3);
}
.column.x2 {
  background-color: rgba(0, 255, 0, 0.2);
}
.column.xhalf {
  background-color: rgba(255, 0, 0, 0.2);
}

.modifier_tag {
  background-color: rgba(255, 255, 255, 0.05); 
  border-radius: 10px;
  margin: 5px 5px; /* Add 10px margin on both sides */
  padding: 1px;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

.image-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 3px 15px; 
  padding: 0px 3px 3px;
}

.image-container p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 15px; /* Adjust the height as needed */
  bottom: 7px;
  padding: 0px 7px;
  text-align: center;
  font-size: 10px;
  margin: 0px 0px -6px;
  background-color: rgba(10, 10, 10, 0.7);
  border-radius: 10px;
  height: 20px;
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally (optional) */
}